.table tr td:nth-child(2) {
    width: 70%;
}

.table tr td:nth-child(1) {
    width: 30%;
}

ul {
  list-style-type: none;
}

p {
    padding-left: 1em;
}
body{
    width: 900px;
    margin: auto;
}
